{% extends "base.html" %}
{% block content %}
<style>
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
</style>
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">How child-friendly is your neighborhood?</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form action="{{ url_for('compute_friendliness') }}" method="GET">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="text" class="form-control form-control-lg" name="address" placeholder="Enter your address...">
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="text" class="form-control form-control-lg" name="age" placeholder="Enter your child's age...">
                </div>
                <div class="col-12 col-md-3">
                  <button onClick="addLoading()" id="go_button" value="submit" type="submit" class="btn btn-block btn-lg btn-primary">Try it!</button>
                </div>
              </div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class=flashes>
                {% for message in messages %}
                  <div>{{ message }}</div>
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            </form>

          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-globe m-auto text-primary"></i>
              </div>
              <h3>Localized Data</h3>
              <p class="lead mb-0">Incorporates the latest Canadian census, crime, traffic and school performance data for your area!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-pie-chart m-auto text-primary"></i>
              </div>
              <h3>Robust Analysis</h3>
              <p class="lead mb-0">Assesses compatibility on 4 key dimensions and provides robust visualization options so you know how your neighborhood stacks up!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Simply punch in your address and the age of your child to get started!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image">
            <img src="{{ url_for('.static', filename='img/bg-showcase-1.jpg')}}">
          </div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Fully Responsive Design</h2>
            <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image">
            <img src="{{ url_for('.static', filename='img/bg-showcase-2.jpg')}}">
          </div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Updated For Bootstrap 4</h2>
            <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image">
            <img src="{{ url_for('.static', filename='img/bg-showcase-3.jpg')}}">
          </div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Easy to Use &amp; Customize</h2>
            <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
          </div>
        </div>
      </div>
    </section>
-->

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{{ url_for('.static', filename='img/testimonials-1.jpg')}}" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Really helped me select an appropriate place for my children!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{{ url_for('.static', filename='img/testimonials-2.jpg')}}" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"I don't have kids, but the app was very interesting."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{{ url_for('.static', filename='img/testimonials-3.jpg')}}" alt="">
              <h5>Sarah	W.</h5>
              <p class="font-weight-light mb-0">"My sixteen children are super-stoked about this app.  I found different places for all of them to live and now I've quit the parenthood game!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Like our product? Join the mailing list!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  <div class="modal"><!-- Place at bottom of page --></div>
<script>
  // On ready disbale loading and add onclick to the button
  $( document ).ready(function() {
    removeLoading();
  });

  function removeLoading(){
    $("body").removeClass("loading");
  }

  function addLoading(){
    $("body").addClass("loading");
  }


</script>
{% endblock %}
